:root {
    --main-color: hsl(158, 36%, 37%);
    --secondary-color: hsl(228, 12%, 48%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}
.title,
.display-price-reduced {
    font-family: 'Fraunces', serif;
}
p,
.btn-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
h1 {
    margin: 0;
    color: hsl(212, 21%, 14%);
}
p {
    color: var(--secondary-color);
}
.btn-text {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

body {
    background-color: hsl(30, 38%, 92%);
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    height: 100vh;
    justify-content: center;
    margin: auto;
}

/* IMG */
.product-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

/* DESCRIPTION */
.product-desc-wrapper {
    background-color: white;
    padding: 2rem;
    margin-top: -4px;
    border-radius: 0 0 10px 10px;
}

.preview {
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin-bottom: .8rem;
    font-size: .9rem;
}

.title {
    font-weight: bold;
    font-size: 2.3rem;
    line-height: 1.8rem;
    margin-bottom: .8rem;
}

.desc {
    margin-bottom: .8rem;
    line-height: 1.5rem;
    font-size: 1rem;
}

/* PRICES */
.prices {
    display: flex;
    align-items: center;
    margin-bottom: .8rem;
}

.display-price-reduced {
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-color);
    margin-right: 1rem;
}

.diplay-price-original {
    text-decoration-line: line-through;
}

.btn {
    width: 100%;
    padding: 1rem 0;
    background-color: var(--main-color);
    border-radius: 5px;
    border: none;
}

.icon {
    stroke: white;
    width: 4%;
    transform: scaleX(-1);
}

.btn-text {
    padding-bottom: 2rem;
}